mixin damageHeaders
  each t in ['ranged','melee']
    .damage-columns
      .damage-header
        span(data-i18n=`${t} weapon damage`).capitalize
      each s,n in ['≤ 11','12-16','17+']
        label.flex-box.flex-column
          +number({name:`${t} damage ${n}`})
          +cutWrapper
            span #{s}
+cutWrapper('section')(data-i18n-aria-label="modifiers").modifier-container
  +diamondBorder('bottom').modifier-head
    span(data-i18n='modifiers').uppercase
  .repeating-section
    +editableRepeat({name:'modifiers'})
      each name in ['name','implement','armor','type','speed','melee','ranged','area','stability','stamina','benefits','ranged damage 1','ranged damage 2','ranged damage 3','melee damage 1','melee damage 2','melee damage 3']
        +hidden({name,value:''})
      +diamondBorder('bottom')
        .modifier-display
          .flex-box.tiny-gap.grid-span-all
            +span({name:'type'}).bold.uppercase
            +span({name:'name'}).name
          each name in ['implement','speed','melee','ranged','armor','area','stability','stamina']
            +hidden({name,value:''}).display-control--non-zero
            +cutWrapper()(class=name)
              .input-label.stacked.controlled-display
                span(data-i18n=name).input-label__text
                +span({name}).input-label__input
          //- +damageHeaders
          +span({name:'benefits'}).description.grid-span-all
      +editLayout.modifier-edit
        .name-row.grid-span-all
          +cutLabel({inputObj:{name:'name',type:'text'},spanObj:{'data-i18n':'name',class:'capitalize'}})
          +cutSelectLabel({inputObj:{name:'type'},spanObj:{'data-i18n':'type',class:'capitalize'}})
            +option({value:'','data-i18n':'select one',selected:''}).capitalize
            each value in ['kit','enchantment','prayer','augmentation','ward']
              +option({value,'data-i18n':value}).capitalize
        +cutLabel({inputObj:{name:'implement',type:'text'},spanObj:{'data-i18n':'weapon / implement',class:'capitalize'}})
        +cutLabel({inputObj:{name:'armor',type:'text'},spanObj:{'data-i18n':'armor',class:'capitalize'}})
        each name in ['speed','melee','ranged','area','stability','stamina']
          +cutLabel({inputObj:{name,type:'number'},spanObj:{'data-i18n':name,class:'capitalize'}})
        +damageHeaders
        +adaptiveTextarea({name:'benefits'}).grid-span-all.underlined
+scss('sheet').
  .modifier-head{
    .diamond-content{
      display: flex;
      justify-content: center;
    }
  }
  .modifier-display{
    display: grid;
    grid-template-columns: 1fr repeat(3,80px);
    gap: var(--tiny-gap);
  }
  .modifier-container{
    break-inside: avoid;
  }
  .modifier-container,
  .modifier-edit{
    .damage-columns{
      column-count: 3;
      column-width: 60px;
      column-gap: var(--half-gap);
      column-rule: 2px solid var(--borderColor);
      label{
        align-items: stretch;
        input{
          min-width: 100%;
        }
        .cut-container{
          display: grid;
          justify-items: center;
        }
      }
      > .damage-header{
        column-span: all;
        text-align: center;
      }
      > * {
        break-inside: avoid;
      }
    }
  }
  .modifier-edit{
    .name-row{
      display: grid;
      gap: inherit;
      grid-template-columns: 1fr auto;
    }
    > .cutWrapper > .cut-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--tiny-gap);
    }
  }